@import "sprite.scss";
@import "nouislider.min.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700|Ubuntu:300,400,400i,500,700&display=swap&subset=cyrillic');
@mixin ab($w, $h){
    content: '';
    display: block;
    height: $h;
    width: $w;
}
@mixin c-fix(){
    @include ab(0, 100%);
    clear: both;
    overflow: hidden;
}
@mixin icon-sprite($sprite-name){
    @include ab(0,0);
    @include sprite($sprite-name);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: nth($sprite-name, 6)*-.5;
    margin-left: nth($sprite-name, 5)*-.5;
}
@mixin retina($sprite) {
    @include sprite-image($sprite);
    $sprite-offset-x: nth($sprite, 3) / 2;
    $sprite-offset-y: nth($sprite, 4) / 2;
    background-position: $sprite-offset-x  $sprite-offset-y;
    background-size: $spritesheet-width / 2 $spritesheet-height / 2;
    width: nth($sprite, 5) / 2;
    height: nth($sprite, 6) / 2;
}
body{
    background: #F1F1F1;
    font-family: 'Ubuntu', sans-serif;
}
.flex-row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin-left: -15px;
    margin-right: -15px;
}

/* header */

header {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 3;
}
.header-logo {
    @include retina($logo);
    display: block;
    margin: 31px 0;
}
.header-buttons_box,
.header-contacts,
.header-contacts_box {
    display: flex;
    justify-content: space-between;
}
.header-time,
.header-phone {
    font-weight: 500;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    padding-left: 24px;
    margin-top: 24px;
    position: relative;
}
.header-phone{
    margin-left: 38px;
}
.header-phone:before,
.header-time:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.header-time:before {
    @include retina($time);
}
.header-phone:before {
    @include retina($phone);
}
.artel-button {
    background: #FFDF35;
    box-shadow: 0px 3px 0px #FCA95D;
    border-radius: 20px;
    color: linear-gradient(180deg, #3B415B -12.14%, #25293F 100%);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    padding: 0 23px;
    transition: ease 300ms;
    user-select: none;
}
.artel-button:hover {
    background: #FFEA29;
    box-shadow: 0px 3px 0px #9A5A1E;
}
.artel-button:active {
    background: #FFE975;
    box-shadow: 0px 3px 0px #EED75B;
}
.header-buttons_box {
    padding-top: 15px;
    max-width: 215px;
    width: 100%;
}
.header-search {
    position: relative;
}
.header-search_icon {
    @include retina($search);
    background-color: transparent;
    cursor: pointer;
    display: block;
    margin-top: 3px;
    position: relative;
    z-index: 2;
}
input[type=text].header-search_input {
    background: #F0F1F9;
    border: 1px solid #F0F1F9;
    box-sizing: border-box;
    border-radius: 17px;
    color: #424F9B;
    display: block;
    opacity: 0;
    padding: 0 15px;
    position: absolute;
    top: 0px;
    right: -3px;
    transition: ease 300ms;
    height: 36px;
    width: 36px;
}
input[type=text].header-search_input::-webkit-input-placeholder {
    color: #424F9B;
}
input[type=text].header-search_input:-moz-placeholder {
    color: #424F9B;
}
.header-search:hover input[type=text].header-search_input{
    opacity: 1;
    width: 185px;
}
.header-menu {
    height: 45px;
    margin-top: 16px;
    position: relative;
}
.header-menu:after {
    @include retina($menu-before);
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
}
.header-menu:before {
    background: #f0f1f9;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 9999px;
}
.header-menu li{
    list-style: none;
    padding: 0;
    right: 0;
}
.header-menu ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.header-menu nav{
    position: relative;
    z-index: 1;
}
.header-menu nav > ul > li {
    position: relative;
}
.header-menu nav > ul > li > a {
    color: #373D56;
    display: block;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 11px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.header-menu nav > ul > li.parent > a {
    padding-right: 22px;
}
.header-menu nav > ul > li.parent > a:after {
    @include retina($menu-parent);
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.header-menu nav > ul > li > a:before {
    background: #424F9B;
    content: '';
    height: 4px;
    position: absolute;
    bottom: 0;
    transition: ease 300ms;
    left: 0;
    width: 0%;
}
.header-menu nav > ul > li:hover > a:before {
    width: 100%;
}
.header-menu nav > ul > li > ul {
    background: #FFFFFF;
    box-shadow: 0px 20px 16px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    display: block;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transition: ease 200ms;
    transform: translateX(-50%) translateY(-10px);
    width: 200px;
    z-index: 2;
}
.header-menu nav > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
}
.header-menu nav > ul > li > ul:before {
    background: transparent;
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 10px;
    width: 100%;
    z-index: 2;
}
.header-menu nav > ul > li > ul:after {
    background: #4169E1;
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -6.5px;
    transform: rotate(-45deg);
    z-index: -1;
}
.header-menu nav > ul > li > ul a{
    background: #fff;
    color: #60698F;
    display: block;
    font-size: 14px;
    letter-spacing: 0.05em;
    padding: 11px 30px;
    transition: ease 300ms;
}
.header-menu nav > ul > li > ul a:hover{
    background: #F0F1F9;
    color: #000;
}
@media screen and (max-width: 768px) {
    a.header-logo {
        margin: 14px auto 15px;
        transform: scale(.8);
    }
    .header-time{
        display: none;
    }
    header .artel-button {
        @include retina($phone-mobile);
        font-size: 0;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }
    .header-buttons_box {
        padding: 5px 0;
        width: 70px;
    }
    .header-search_icon {
        margin-top: 0;
    }
    .header-phone{
        color: #424F9B;
        font-weight: 500;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: 0.05em;
        margin: 0;
        padding: 0;
    }
    .header-phone:before{
        display: none;
    }
    .header-contacts {
        background: #F0F1F9;
        padding: 0 15px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .menu-open {
        cursor: pointer;
        margin-top: 25px;
        height: 25px;
        position: absolute;
        left: 17px;
        width: 25px;
        z-index: 999;
    }

    .menu-open span,
    .menu-open:after,
    .menu-open:before {
        background: #4169e1;
        border-radius: 5px;
        height: 3px;
        margin-left: -10px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        transition: ease-in 250ms;
    }

    .menu-open span {
        opacity: 1;
        margin-top: -1px; }

    .menu-open:after,
    .menu-open:before {
        content: '';
        margin-top: -11px;
    }

    .menu-open:after {
        margin-top: 8px;
    }

    .menu-open.active:after,
    .menu-open.active:before {
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-top: 0;
        margin-left: -11px;
        width: 22px;
    }

    .menu-open.active:after {
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .menu-open.active span {
        opacity: 0;
    }

    body.menu-opened {
        overflow: hidden;
    }
    .header-menu:before{
        display: none;
    }
    .header-menu {
        background: #f0f1f9;
        display: block;
        opacity: 0;
        position: fixed;
        top: 59px;
        left: -10%;
        transition: ease 300ms;
        visibility: hidden;
        padding: 0 17px;
        height: 100%;
        width: 100%;
        z-index: 9;
    }
    .header-menu.active {
        opacity: 1;
        visibility: visible;
        left: 0;
    }
    .header-menu ul{
        display: block;
    }
    .header-menu li.parent > span {
        position: absolute;
        right: -15px;
        top: 0;
        height: 100%;
        width: 50px;
        z-index: 1;
    }
    .header-menu nav > ul > li:hover > ul {
        border-radius: 0;
        box-shadow: none;
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0px, 0px);
        width: auto;
    }
    .header-menu nav > ul > li.parent > a:after {
        top: 23px;
    }
    .header-menu nav > ul > li > a:before {
        display: none;
    }
    .header-menu nav > ul > li > ul {
        display: none;
        visibility: visible;
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

/* breadcrumb */

.breadcrumb {
    padding: 20px 0;
    margin-bottom: 15px;
}
.breadcrumb ul{
    letter-spacing: 0.05em;
    padding: 0;
    margin: 0;
}
.breadcrumb li{
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}
.breadcrumb li a{
    color: #4169E1;
    opacity: 0.9;
}
.breadcrumb li a:hover{
    text-decoration: underline;
}
.breadcrumb li+li:before{
    background: #4169E1;
    border-radius: 50%;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 11px;
    height: 2px;
    width: 2px;
}
@media screen and (max-width: 768px) {
    .breadcrumb {
        font-size: 10px;
        margin-bottom: 0;
    }
}

/* category */

.category-menu ul {
    margin: 0;
    padding: 0;
}
.category-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.category-menu > ul > li > a{
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    display: block;
    color: #000000;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-bottom: 9px;
    margin-bottom: 9px;
}
.category-menu > ul > li {
    margin-bottom: 21px;
}
.category-menu > ul > li > ul a{
    background: transparent;
    border-radius: 6px;
    color: #60698F;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding: 7px 10px;
    margin-left: -7px;
    transition: ease 300ms;
}
.category-menu > ul > li > ul a:hover{
    background: rgba(66, 79, 155, 0.1);
}
.category-menu {
    max-width: 170px;
}
.category-title {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 24px;
}
.category-filter {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    margin-bottom: 37px;
    padding: 23px 20px 25px;
}
.category-filter_title {
    color: #60698F;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    margin-bottom: 6px;
    text-transform: uppercase;
}
.category-filter_price {
    max-width: 260px;
    margin-right: 20px;
    width: 100%;
}
.catalog-filter_slider-status {
    color: #60698F;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    line-height: 13px;
    margin-bottom: 27px;
}
.catalog-filter_slider-wrap {
    background: #FFFFFF;
    border: 1px solid #E2E4F3;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.catalog-filter_slider-wrap input{
    color: #000000;
    background: transparent;
    border: none;
    font-size: 12px;
}
.catalog-filter_slider-wrap input+input{
    border-left: 1px solid #E2E4F3;
    color: #60698F;
}
.category-filter,
.category-filter_bottom,
.category-filter_top {
    display: flex;
    justify-content: space-between;
}
.category-filter_class {
    width: 152px;
}
.category-filter_class-wrap {
    background: #FFFFFF;
    border: 1px solid #E2E4F3;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    padding: 1px;
    justify-content: space-between;
    width: 100%;
}
.category-filter_class-wrap input[type=radio]{
    display: none;
}
.category-filter_class-wrap label {
    border-right: 1px solid #E2E4F3;
    color: #60698F;
    font-weight: 500;
    font-size: 13px;
    display: block;
    height: 26px;
    line-height: 26px;
    margin: 0 .5px;
    padding: 0;
    text-align: center;
    width: 100%;
}
.category-filter_class-wrap label:last-child {
    border: none;
}
.category-filter_class-wrap  input[type="radio"] + label {
    margin-bottom: 0;
}
.category-filter_class-wrap  input[type="radio"]:checked + label {
    background: #4169E1;
    color: #fff;
}
.category-filter_class-wrap label[for=class1] {
    border-radius: 2px 0px 0px 2px;
}
.category-filter_class-wrap label[for=class3] {
    border-radius: 0px 2px 2px 0px;
}
.category-filter_class-wrap label+label {
    border-left: 1px solid #E2E4F3;
}
.category-filter_box {
    margin-left: 30px;
}
.category-filter_select select{
    background: #FFFFFF;
    border: 1px solid #E2E4F3;
    box-sizing: border-box;
    color: rgba(96, 105, 143, 0.6);
    cursor: pointer;
    height: 30px;
    line-height: 28px;
    padding: 0 8px;
    width: 211px;
}
.category-filter_select-wrap:after {
    @include retina($select-after);
    content: '';
    position: absolute;
    top: 50%;
    right: 9px;
    pointer-events: none;
    transform: translateY(-50%);
}
.category-filter_select-wrap {
    position: relative;
}
.category-filter_checkbox input[type=checkbox]{
    display: none;
}
.category-filter_checkbox span{
    color: #60698F;
    font-size: 13px;
    line-height: 15px;
}
.category-filter_checkbox span:before {
    background: #FFFFFF;
    border: 1px solid #E2E4F3;
    box-sizing: border-box;
    border-radius: 2px;
    content: '';
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease 300ms;
    height: 20px;
    width: 20px;
}
.category-filter_checkbox span:after {
    @include retina($checkbox-after);
    content: '';
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
}
.category-filter_checkbox input[type=checkbox]:checked+span:before {
    background: #4169E1;
    border-color: #4169E1;
}
.category-filter_checkbox label{
    padding-left: 31px;
    padding-top: 4px;
    position: relative;
    user-select: none;
}
.category-filter_top .category-filter_checkbox {
    padding-top: 27px;
    min-width: 100px;
}
.category-filter_bottom .category-filter_box{
    margin-left: 0;
}
.category-filter_bottom {
    padding-top: 41px;
}
.category-filter_button {
    background: #424F9B;
    border-radius: 20px;
    box-shadow: 0px 2px 0px transparent;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    margin-top: -6px;
    height: 30px;
    line-height: 30px;
    padding: 0 19px;
    transition: ease 300ms;
}
.category-filter_button:hover {
    box-shadow: 0px 2px 0px #011691;
}
.category-filter_button:active {
    box-shadow: 0px 2px 0px transparent;
    color: #B9C3FF;
}
.category-filter_clear:before {
    @include retina($clear);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.category-filter_clear {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border: 1px solid #d4d4d9;
    border-radius: 50%;
    margin-top: -6px;
    cursor: pointer;
    position: relative;
    transition: ease 300ms;
    height: 30px;
    width: 30px;
}
.category-filter_clear:hover {
    background: #eaeef0;
    border: 1px solid #eaeef0;
}
.category-filter_clear:active {
    background: #fff;
    border: 1px solid #eaeef0;
}
.category-sort{
    color: rgba(96, 105, 143, 0.5);
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}
.category-sort a{
    color: #60698F;
    margin-left: 18px;
}
.category-sort a.active,
.category-sort a:hover{
    color: #4169E1;
}
.category-sort a:hover{
    text-decoration: underline;
}
.category-list {
    margin-bottom: 50px;
}
.category-item{
    background: #FFFFFF;
    border-radius: 6px;
    height: 100%;
    padding: 30px 24px 20px;
    text-align: center;
    transition: ease 300ms;
}
.category-item:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
}
.category-item_image img{
    display: block;
    width: 100%;
}
.category-item_image {
    display: block;
    margin-bottom: 19px;
}
.category-item_title {
    color: #60698F;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 13px;
}
.category-item_price {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
}
.category-item_more {
    background: #424F9B;
    border-radius: 20px;
    box-shadow: 0px 2px 0px transparent;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    margin-top: -6px;
    height: 30px;
    line-height: 30px;
    padding: 0 19px;
    transition: ease 300ms;
}
.category-item_more:hover {
    box-shadow: 0px 2px 0px #011691;
    color: #fff;
}
.category-item_more:active {
    box-shadow: 0px 2px 0px transparent;
    color: #B9C3FF;
}
.category-list .flex-row > [class^=col-] {
    margin-bottom: 30px;
}
.category-mobile_nav {
    display: none;
}
@media screen and (max-width: 1200px) {
    .category-filter_select select {
        width: 180px;
    }
}
@media screen and (max-width: 992px) {
    .category-menu {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .category-filter {
        display: none;
    }
    .category-title {
        text-align: center;
    }
    .category-mobile_nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .category-filter_select {
        width: 180px;
    }
    .category-open_filter {
        background: #4169E1;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
        border-radius: 22px;
        color: #FFFFFF;
        font-size: 12px;
        padding: 4px 28px 5px 53px;
        position: relative;
    }
    .category-open_filter:before {
        @include retina($settings);
        content: '';
        display: block;
        position: absolute;
        left: 19px;
        top: 50%;
        transform: translateY(-50%);
    }
    .category-filter {
        max-width: 300px;
    }
    .category-filter_price {
        margin-bottom: 30px;
    }
    .category-filter_bottom,
    .category-filter_top {
        display: block;
        padding-top: 0;
    }
    .category-filter_class {
        margin-bottom: 30px;
    }
    .category-filter_box {
        margin-left: 0;
    }
    .category-filter_box {
        margin-bottom: 15px;
    }
    .category-filter_clear {
        position: absolute;
        right: 17px;
        bottom: 24px;
    }
}